

#source {
  background: #eeaa55;
  padding: 1em;
  border-radius: 5px;
}

footer {
  color: #aaaaaa;
  border-top-width: 1px;
  border-top-style: solid;
  width: 100%;
  padding: 0.3em;
  display: inline-block;
  margin: 1em;
}

footer a {
  color: #0000aa;
}

.video-preview-image {
  margin-right: 1em;
  height: 10em;
  float: left;
  border-radius: 5px;
}

p {
  margin-left: 1em;
  margin-right: 1em;
}

h1 {
  margin-left: 2em;
  margin-right: 2em;
}

body {
  max-width: 40em;
}

