
/* hide elements */
.hidden {
  display: none;
}

.floatingButton {
  padding: 0.3em;
  border-radius: 0.3em;
  background-color: #eee;
  position: absolute;
  z-index: 1001;
}

/* button for the editor to hide the editor */
#openClose {
  top: 0.1em;
  right: 0.1em;
}

#openClose.selected {
  background-color: #ddd;
}

/* the area where we program */
#blocklyArea {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1000;
  left: 0px;
  top: 0px;
}

html, body {
  height: 100%;
  margin: 0;
}

#blocklyWorkspace {
  position: absolute;
  z-index: 1000;
}

/* Controls */

#startButton {
  top: 2em;
  right: 0.1em;
}

