/* hide elements */
.botElement {
  display: block;
}

.hideBotElements .botElement {
  display: none;
}


/* button for the editor to hide the editor */
#openClose {
  top: 0.1em;
  right: 0.1em;
}

#openClose.selected {
  background-color: #ddd;
}

/* the area where we program */
#blocklyArea {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1000;
  left: 0px;
  top: 0px;
}

html, body {
  height: 100%;
  margin: 0;
}

#blocklyWorkspace {
  position: absolute;
  z-index: 1000;
}

.blocklySvg {
  background-color: rgba(0,0,0,0);
}

/* controls in the corner */

.botButton {
  padding: 0.3em;
//  border-radius: 0.3em;
//  background-color: #fafc5b;
  margin: 0.2em;
  display: inline-block;
  background: #eaec4b;
  border-bottom: 6px solid #a1a130;
  margin-top: 2px;
  color: #888a34;
  line-height: 32px;
  font-size: 34px;
}

#controlsContainer {
  z-index: 1001;
  position: absolute;
  margin: 0.1em;
  top: 0em;
  right: 0em;
  line-height: 32px;
  font-size: 34px;
  display: block;
}



